.mainbody{


    background-image: url("resources/imgonline-com-ua-resize-p5NuhaKjqvrDM.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: auto;
    opacity: 1;
    
    
    
    
}

.bt1{

    padding-left: 40px;
    padding-right: 40px;
    margin-left: 190px;
    
}

.txt1{

    padding-left: 180px;
    color: aliceblue;
}

.st1{

    background-color: black;
    margin-top: 280px;
    padding-bottom: 10px;
    opacity: 0.7;
    border-radius: 5px;
   
    
    
    
}

.signout-hover{

    cursor: pointer;
    color: aliceblue;
}



.r1{

    margin-left: 500px;
    margin-right: 500px;
}

.r2{


    margin-left: 60px;
}

.bar{
    

    padding-right: 200px;
    padding-top: 10px; 
    margin-left:50px;

    color: white;

    background-color: #353839;
}



.bt2{


    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.9;
    background-clip: padding-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    
}

.alt1{

    color: red;
}


.alt2{

    color: green;
}


.t1{

    color: aliceblue;
}


.cc1 {
    position: absolute;
    right: 15%;
    bottom: 1.25rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: start;
  }

  .cd1{

    color: #fff;

  }

  .cdt{

    color: #fff;
  }


