.h1{
    font-family: monospace;
    color: red;
}

.b1{
    border: none;
    background-color: brown;
    color: black;
    font-size: 23px;
}   


.bg{


    background-image: url(asset/network-mesh-wire-digital-technology-background_1017-27428.avif);
}