
@font-face {
    font-family: "inter1";
    src: url("assets/fonts/Inter-VariableFont_slnt\,wght.ttf");
}





.font1{

    color: hsl(236, 13%, 42%);
    font-size: 15px;
    font-family: "inter1";

}


.font2{

    color: hsl(240, 100%, 5%);
    font-weight: 800;
    font-size: 44px;
}


.btn1{

background-color:  hsl(5, 85%, 63%);
color: white;
border-color: hsl(5, 85%, 63%);
padding: 11px 35px;

}

.btn1:hover{

    border-color: hsl(240, 100%, 5%);
    background-color: hsl(240, 100%, 5%);;
}